header.home {
  text-align: center;
  margin: 0 auto;
  height: 110px;
  color: white;
  background-color: white;
  border: darkgrey 1px solid;
  opacity: 0.9; }
  header.home .menu-btn .btn-line {
    background: #000; }
  header.home .menu-btn.close .btn-line {
    background: #fff; }

.logo.img img {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 30px;
  height: 100px; }

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: 1px; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 1.5rem 0;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #4a4a4a;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #575757;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/me_sm.jpg");
      border-radius: 50%;
      border: solid 3px #2BD4D1;
      background-size: cover;
      z-index: 1; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #2BD4D1; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #2BD4D1; }

.nav-item:nth-child(1) {
  transition-delay: 0.08s; }

.nav-item:nth-child(2) {
  transition-delay: 0.16s; }

.nav-item:nth-child(3) {
  transition-delay: 0.24s; }

.nav-item:nth-child(4) {
  transition-delay: 0.32s; }

* {
  box-sizing: border-box; }

body {
  background: #575757;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url("../img/unicorn_cat1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    @media screen and (max-width: 768px) {
      body#bg-img {
        background-size: 75%; } }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(87, 87, 87, 0.8); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    color: #fff;
    background: rgba(77, 77, 77, 0.7); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #2BD4D1; }

main {
  padding: 3rem;
  min-height: calc(100vh -60px) !important; }
  main#bg-img {
    background: url("../img/unicorn_cat1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
    @media screen and (max-width: 768px) {
      main#bg-img {
        background-size: 75%; } }
    main#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(87, 87, 87, 0.8); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #2BD4D1;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
  main#contact {
    display: flex;
    flex-grow: 1;
    flex-flow: column; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 10%;
    border: #2BD4D1 3px solid;
    height: 260px;
    z-index: 1; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
    .about-info .bio .instagram {
      font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #646464;
    padding: 0.5rem;
    border-bottom: #2BD4D1 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects .item {
    display: flex;
    flex-grow: 1;
    flex-flow: column; }
    .projects .item img {
      width: 100%;
      border: 3px #fff solid; }
      .projects .item img:hover {
        opacity: 0.5;
        border-color: #2BD4D1;
        transition: all 0.5s ease-out; }

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .contact-details div {
    font-size: 2rem;
    border: 1px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }

.boxes {
  margin: 1rem; }
  .boxes .text-secondary {
    color: #fff; }
  .boxes:hover {
    background: #2BD4D1;
    color: #000;
    cursor: pointer; }
    .boxes:hover span {
      color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #2BD4D1;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #bdbdbd;
  color: #000; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #3e3e3e;
  color: #fff; }

#contact-main-footer {
  text-align: center;
  padding: 1rem;
  background: #3e3e3e;
  color: #fff;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%; }
  #contact-main-footer .copyright {
    margin: 0 auto; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); }
  .nav-item:nth-child(1) {
    margin-top: 3rem; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .nav-item:nth-child(1) {
    margin-top: 3rem; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main h1.lg-heading {
      line-height: 1;
      padding-top: 3rem;
      margin-bottom: 1rem;
      font-size: 5rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/me_extra_sm.jpg");
      width: 150px;
      height: 150px;
      background-size: cover; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); }
  .contact-details div {
    font-size: 1.5rem;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out; } }

@media screen and (max-width: 500px) {
  .logo.img img {
    height: 80px;
    top: 20px; }
  .menu .show {
    background-color: #737373; }
  .nav-item {
    font-weight: bold; }
    .nav-item .current {
      text-shadow: 1px 2px #fff; }
  .nav-link {
    text-shadow: 1px 2px #000; }
  main#home {
    align-items: center;
    text-align: center; }
  main#home h1 {
    margin-top: 10vh;
    font-size: 4rem; }
  img.bio-image {
    max-height: 10rem; }
  .projects {
    grid-template-columns: 1fr; }
  .contact-details div {
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    transition: all 0.5s ease-out; } }
