@import 'config';
@import 'menu';
@import 'mobile';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: black;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 1rem 1rem;
        color: black;
        background: rgba(darken($primary-color, 4), 0.7);
    }
}

a {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%
}

.text-secondary {
    color: $secondary-color;
}

main {
    img {
        height: 200px;
        width: 200px
    }

    @include background;
    padding: 3rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}